/* display */
.d_inline_block {
  display: inline-block;
}

/* vertical-align */
.v_md {
  vertical-align: middle;
}

/* Portfolio */
.portfolio {
  width: 33.3%;
  padding: 0 8px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 15px;
}
.portfolio:nth-child(3n - 1) {
  margin: 0 12px;
}
.portfolio .portfolio_img img {
  vertical-align: middle;
  height: 163px;
}
.portfolio .portfolio_img img:hover {
  opacity: 0.6;
}
.portfolio_info {
  height: 140px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.portfolio_info p {
  margin: 0;
}
.portfolio_info p:nth-child(2) {
  margin-top: 15px;
  line-height: 1.5;
}
@media (max-width: 600px) {
  .portfolio {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .portfolio:nth-child(3n - 1) {
    margin: 0;
  }
  .portfolio .portfolio_img img {
    height: 230px;
  }
}

/* pagelist*/
.page_list {
  margin: 32px 0;
  text-align: center;
}
.page_list div {
  padding: 8px 16px;
  display: inline-block;
  vertical-align: middle;
}
.page_list .arrow {
  font-size: 15px;
}
.page_list .insert {
  color: #fff;
  background-color: #000;
}
.page_list .page:hover {
  color: #fff;
  background-color: #000;
}
.page_list .insert:hover {
  color: #000;
  background-color: #ccc;
}

/* parttitle */
.part_title {
  margin: 10px 0;
  font-weight: 400;
}

/* technicalskills */
.SkillsBar span {
  font-size: 15px;
  display: inline-block; /* 마진겹침현상때문에   */
  margin: 15px 0;
}
.SkillsBar .skillbar_body {
  width: 100%;
  height: 38px;
  line-height: 38px;
  background-color: #9e9e9e;
}
.SkillsBar .skillbar_body .skillbar_percent {
  background-color: #616161;
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 15px;
}
