.layout {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  /* color: #ffffff; */
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
}
.container {
  background-size: cover;
  margin: auto;
  overflow: hidden;
}
.container .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* SideMenu */
.sideMenu{
  background-color: #fff;
  width:300px;
  height: 100%;
}


/* Footer */
/* Header */