.layout {
	width: 100vw;
	height: 100vh;
	font-size: 20px;
	/* color: #ffffff; */
	overflow: hidden;
	position: relative;
	background-color: #f1f1f1;
}

.container {
	background-size: cover;
	margin: auto;
	overflow: hidden;
}

.container .wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

/* SideMenu */
.sideMenu {
	background-color: #fff;
	width: 300px;
	height: 100vh;
	padding: 16px;
	box-sizing: border-box;
	line-height: 36px;
	position: fixed;
	z-index: 300;
}

.sideMenu .profile_img {
	width: 120px;
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.sideMenu .title {
	font-size: 20px;
	font-weight: bolder;
}

.sideMenu .noti {
	font-size: 15px;
	color: #757575;
	margin-bottom: -10px;
}

.sideMenu .menu_list ul {
	padding: 0;
}

.sideMenu .menu_list ul li {
	list-style: none;
}

.sideMenu .menu_list ul li span {
	display: inline-block;
	font-size: 15px;
}

.sideMenu .menu_list ul li .ico {
	width: 15px;
	height: 15px;
	margin-right: 15px;
	display: inline-block;
}

.sideMenu .sns_list span {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}

.sideMenu .sns_list span:last-child {
	margin-right: 0px;
}

/* Header */
.header {
	margin-top: 10px;
	padding-bottom: 15px;
}
.header .title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 40px;
}
.header .header_nav {
	padding-bottom: 15px;
	border-bottom: 6px solid #999;
}
.header .header_nav .header_nav_title,
.header .header_nav > button {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-right: 5px;
	border: none;
}
.header .header_nav > button:last-child {
	margin-right: 0;
}
.header .header_nav button {
	padding: 8px 15px;
	background-color: #fff;
}
.header .header_nav button:hover {
	background-color: #999;
	cursor: pointer;
}
.header .header_nav button .filter_ico {
	width: 15px;
	height: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
}
.header .header_nav .insert {
	color: #fff;
	background-color: black;
}
/* Footer */
