.layout {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.container {
  background-size: cover;
  margin: auto;
  overflow: hidden;
}
.container .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
