.layout {
	width: 100vw;
	height: 100vh;
	font-size: 20px;
	overflow: auto;
	position: relative;
	background-color: #f1f1f1;
}

.container {
	background-size: cover;
	margin: auto;
	overflow: auto;
}

.container .wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

/* SideMenu */
.sideMenu {
	background-color: #fff;
	width: 300px;
	height: 100vh;
	padding: 16px;
	position: relative;
	box-sizing: border-box;
	line-height: 36px;
	position: fixed;
	z-index: 300;
	animation: animateleft 0.4s;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

.sideMenu .close_ico {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.sideMenu .profile_img {
	width: 120px;
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.sideMenu .title {
	font-size: 20px;
	font-weight: bolder;
}

.sideMenu .noti {
	font-size: 15px;
	color: #757575;
	margin-bottom: -10px;
}

.sideMenu .menu_list ul {
	padding: 0;
}

.sideMenu .menu_list ul li {
	list-style: none;
}

.sideMenu .menu_list ul li span {
	display: inline-block;
	font-size: 15px;
}

.sideMenu .menu_list ul li .ico {
	width: 15px;
	height: 15px;
	margin-right: 15px;
	display: inline-block;
}

.sideMenu .sns_list span {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}

.sideMenu .sns_list span:last-child {
	margin-right: 0px;
}

/* Header */
.header {
	margin-top: 10px;
	padding: 0 16px;
	padding-bottom: 15px;
}
.header .top {
	height: 65px;
	position: relative;
}
.header .top .menu_m {
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
}
.header .top .profile_m {
	width: 65px;
	height: 65px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.header .title {
	font-weight: bold;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.header .header_nav {
	padding-bottom: 15px;
	border-bottom: 6px solid #999;
}
.header .header_nav .header_nav_title,
.header .header_nav > button {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-right: 5px;
	border: none;
}
.header .header_nav > button:last-child {
	margin-right: 0;
}
.header .header_nav button {
	padding: 8px 15px;
	background-color: #fff;
}
.header .header_nav button:hover {
	background-color: #999;
	cursor: pointer;
}
.header .header_nav button .filter_ico {
	width: 15px;
	height: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
}
.header .header_nav .insert {
	color: #fff;
	background-color: black;
}

/* overlay */
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.3;
	display: none;
}
@media (min-width: 993px) {
	.header .top {
		display: none;
	}
	.sideMenu .close_ico {
		display: none;
	}
}

@media (max-width: 995px) {
	.sideMenu {
		display: block;
	}
	.header .top {
		display: none;
	}
}
@media (max-width: 992px) {
	.sideMenu {
		display: none;
	}
	.header .top {
		display: block;
	}
	.sideMenu .close_ico {
		display: block;
	}
}
/* Footer */
.footer {
	background-color: #616161;
	color: #fff;
	padding: 12px 0;
}
.footer .footer_box {
	padding: 32px 16px;
}
.footer .footer_box .content_box {
	width: 33.3%;
	padding: 0 8px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
.footer .footer_box .content_box .title {
	font-size: 24px;
	display: block;
	margin-bottom: 25px;
}
.footer .footer_box .left .content span {
	display: block;
	font-size: 15px;
}

.footer .footer_box .left .content span:first-child {
	margin-bottom: 15px;
}

.footer .footer_box .left .content span a {
	color: #fff;
	margin-left: 5px;
}

.footer .footer_box .center .content .post_container {
	padding: 16px;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
}
.footer .footer_box .center .content {
	margin-top: -10px;
}
.footer .footer_box .center .content .post_container:last-child {
	border-bottom: 0;
}
.footer .footer_box .center .content .post_container:hover {
	background-color: #ccc;
}
.footer .footer_box .center .content .post_container .post_img {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer .footer_box .center .content .post_container .post_info {
	display: inline-block;
	vertical-align: middle;
}
.footer .footer_box .center .content .post_container .post_info span {
	display: block;
	line-height: 22px;
	font-size: 18px;
}
.footer .footer_box .center .content .post_container .post_info span:last-child {
	font-size: 15px;
}

@media (max-width: 600px) {
	.sideMenu {
		display: none;
	}
	.header .top {
		display: block;
	}
	.sideMenu .close_ico {
		display: block;
	}
	.footer .footer_box .content_box {
		width: 100%;
		display: block;
		margin-bottom: 30px;
	}
}
