.layout {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  /* color: #ffffff; */
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
}
.container {
  background-size: cover;
  margin: auto;
  overflow: hidden;
}
.container .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* SideMenu */
.sideMenu{
  background-color: #fff;
  width:300px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}
.sideMenu .profile_img{
  width: 120px;
  height: 120px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.sideMenu .menu_list ul{
  padding:0;
}
.sideMenu .menu_list ul li{
  list-style: none;
}
.sideMenu .menu_list ul li span{
  display: inline-block;
  font-size: 15px;
}
.sideMenu .menu_list ul li .ico{
  width:15px;
  height:15px;
  margin-right:15px;
  display: inline-block;
}
/* Footer */
/* Header */