.layout {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  /* color: #ffffff; */
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
}

.container {
  background-size: cover;
  margin: auto;
  overflow: hidden;
}

.container .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* SideMenu */
.sideMenu {
  background-color: #fff;
  width: 300px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  line-height: 36px;
}

.sideMenu .profile_img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.sideMenu .title {
  font-size: 20px;
  font-weight: bolder;
}

.sideMenu .noti {
  font-size: 15px;
  color: #757575;
  margin-bottom: -10px;
}

.sideMenu .menu_list ul {
  padding: 0;
}

.sideMenu .menu_list ul li {
  list-style: none;
}

.sideMenu .menu_list ul li span {
  display: inline-block;
  font-size: 15px;
}

.sideMenu .menu_list ul li .ico {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  display: inline-block;
}

.sideMenu .sns_list span {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

.sideMenu .sns_list span:nth-child(2) {
  margin: 0 10px;
}

/* Footer */
/* Header */