/* MainPageComponent */
.mainpage_wrapper {
	/* width: 100%; */
	height: 100vh;
	padding: 16px;
	vertical-align: top;
	margin-left: 300px;
	position: relative;
}
@media (max-width: 992px) {
	.mainpage_wrapper {
		margin-left: 0;
	}
}

/* PortfolioList */
