/* MainPageComponent */
.mainpage_wrapper {
	/* width: 100%; */
	height: 100vh;
	padding: 16px 0;
	vertical-align: top;
	margin-left: 300px;
	position: relative;
}
@media (max-width: 992px) {
	.mainpage_wrapper {
		margin-left: 0;
	}
}

/* PortfolioList */
.portfolio_list {
	padding: 0 16px;
}

/* TechnicalSkills */
.technical_skills {
	padding: 0 16px;
}

/* ContactMe */
.contactme {
	background-color: #9e9e9e;
	cursor: pointer;
	padding: 12px 0;
}
.contactme .contactme_box {
	padding: 0 16px;
}
/* ContactInformation */
.contact_information {
	margin: 24px 0;
}
.contact_information_list {
	width: 33.3%;
	background-color: #009688;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 0;
	text-align: center;
}
.contact_information_list:nth-child(odd) {
	background-color: #616161;
}
.contact_information_list .address_ico {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.contact_information_list .contact {
	font-size: 15px;
	color: #fff;
}

/* ContactInputList */
.contact_input {
	margin-bottom: 16px;
}
.contact_input button {
	padding: 8px 16px;
	font-size: 15px;
	border: 0;
	background-color: #000;
	color: #fff;
}
.contact_input button img {
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
}
.contact_input button span {
	display: inline-block;
	vertical-align: middle;
}
.contact_input_list {
	margin-bottom: 16px;
}
.contact_input_list span {
	font-size: 15px;
}
.contact_input_list input {
	width: 100%;
	line-height: 22.5px;
	border: 1px solid #ccc;
	padding: 8px;
	display: block;
}
