/* table */
.table_container {
  padding: 0 16px;
  margin-bottom: 40px;
}

.table_container table {
  width: 100%;
  margin-top: 25px;
}
.table_container th {
  height: 25px;
}

.table_container table,
.table_container th,
.table_container td {
  border: 1px solid black;
}

.table_container td {
  padding: 5px;
  height: 30px;
}
