/* table */
.table_container {
  padding: 0 16px;
  margin-bottom: 40px;
}

.table_container table {
  width: 100%;
  margin-top: 25px;
  border-spacing: 0;
  font-size: 15px;
}
.table_container th {
  height: 25px;
}

.table_container table tbody tr td:first-child {
  padding: 5px 5px;
}
.table_container table tbody tr td:last-child {
  width: 100px;
  display: block;
  text-align: right;
  padding-right: 5px;
}
.table_container table tbody tr .category{
  font-size: 13px;
}
.table_container table tbody tr .title {
  width: 100%;
  cursor: pointer;
}
.table_container td {
  padding: 5px;
  height: 30px;
  line-height: 30px;
}
.table_container tbody tr:nth-child(odd) {
  background-color: #fff;
}
